
/*------------------------------------
	Accordion
------------------------------------*/
.accordion {
	.card {
		margin: 0;

		.card-header {
			cursor: pointer;
			margin: 0;
			padding: 0;
			border-bottom: 0;
			
			.card-title {
				margin: 0;
				font-size: 1.1rem;
				font-weight: 500;
				padding: 1rem 1rem;		
				display: flex;
				justify-content: flex-start;
				align-items: center;

				> i,
				> svg  {
					margin-right: 1rem;
					font-size: 1.4rem;
					color: $primary;
				}
				> svg {
					width: 1.5rem;
				}

				&.collapsed {
					color: $black;

					> i,
					> svg  {
						color: $gray-400;
					}
				}
				
				&:not(.collapsed) {
					color: $primary;
				}

				&:after {
					right: 1rem;
				}
			}		
		}

		.card-body {
			padding: 1.25rem;
			font-size: 1rem;
		}
		
	}
	&.accorion-left-icon .card .card-header .card-title {
		padding-left: 3rem;
		&:after {
			left: 1rem;
		}
	}
	&.middle-with-border {
		.card:not(:first-of-type):not(:last-of-type) {
			border-bottom: 1px solid;
		}
	}
}

// Light Accordion
.accordion.accordion-light {
	.card {
		border: 0;
		border-top: 1px solid #eeeef4;
		margin: 0;

		.card-header {
			cursor: pointer;
			padding: 0 0;			
			margin: 0;
			background-color: transparent;
			border: 0;

			.card-title {
				margin: 0;
				font-size: 1.1rem;
				padding: 1rem 1rem 1rem 1rem;
				font-weight: 500;
				color: $primary;

				&.collapsed {
					color: $gray-900;
					
					&:after,
					&::before {
						color: $gray-900;
					}
				}	

				&:after,
				&::before {
					right: 1rem;
				}
			}					
		}

		.card-body {
			margin-bottom: 1.25rem;
			font-size: 1rem;
		}

		// remove border for the last item
		&:first-child {
			border-top: 0;

			.card-header {
				padding: 0;
				margin: 0;
			}
		}

		&:last-child {
			margin-bottom: 1.25rem;;

			.card-body {
				margin: 0;
			}
		}
	}	
}

// Outline Accordion
.accordion.accordion-outline {

	&--padded{
		padding:1.7rem;
	}

	.card {
		margin-bottom: 1.25rem;
		border-color: $primary;
		border: 2px solid;
		border-color: $gray-300;
		border-radius: $bm-border-radius !important;

		.card-header {
			padding:0;
			background-color: transparent;
			
			.card-title {
				font-size: 1.1rem;
				padding: 1.25rem;
				border: none;

				&:after { 
					position: absolute;
					right: 1.25rem;
					// @include bm__fontawsome_icon(bm__get($bm-action-icons, minus));
					font-size: 1.7rem;
					color: $primary;
				}
				
				&.collapsed {
					color: #464457;

					&:after {
						// @include bm__fontawsome_icon(bm__get($bm-action-icons, plus));
						color: #efeff0;
					}
				}
			}
		}

		// remove margin on last item
		&:last-child{
			margin-bottom: 0;
		}
	}
}
