$dark-mode-bg-primary: #1a1a1a;
$dark-mode-bg-secondary: #1f2428;
$dark-mode-border: #424242;
$dark-mode-text-link: #fff;

$light-mode-bg-primary: #ffffff;
$light-mode-bg-secondary: #ebeef0;
$light-mode-border: #e2dede;
$light-mode-text-link: #232323;
