@import 'fonts';
// import full Bootstrap makeup
@import '../../../../dist/css/style.css';

@import './sidebar/sidebar';
// import elements
@import './header';


.gitBtn {
  height: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
}

.gitBtn img {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

.gitBtn {
  display: inline-block;
}
