%extendmainColor {
  background-color: $dark-mode-bg-primary !important;
}
%extendLinkColor {
  color: $dark-mode-text-link !important;
}
.navbar-dark {
  @extend %extendmainColor;
  a {
    @extend %extendLinkColor;
  }
}

.dark-mode-active .border{
  &-left,
  &-right,
  &-bottom,
  &top {
    border-color: $dark-mode-border !important;
  }
}

.dark-mode-active {
  color: $dark-mode-text-link;
  .left-sidebar {
    background-color: $dark-mode-bg-secondary;
  }
  .left-sidebar .item.active {
    background-color: $dark-mode-bg-primary;
    color: $dark-mode-text-link;
  }
  .main-content,
  .right-sidebar {
    @extend %extendmainColor;
  }
  a {
    @extend %extendLinkColor;
  }
  pre {
    border: 2px solid ;
    border-radius: 4px;
  }
  pre,
  .gitBtn {
    background-color: $dark-mode-bg-secondary !important;
    color: $dark-mode-text-link !important;
  }

  // github Btn
  .gitBtn {
    border-color: $dark-mode-border !important;
    > svg {
      color: $dark-mode-text-link;
    }
  }
}
